beautifulsoup4==4.6.0
PySocks==1.6.7
requests==2.20.0
requests_mock==1.4.0
yattag==1.10.0
pyinstaller==3.4.0
ete3==3.1.1
PyQt5==5.11.3
validators==0.12.2

written by daud
pip install PySocks
pip install validators
pip install selenium
pip install djongo
pip install django-crispy-forms
After installing djongo

python manage.py migrate
python manage.py makemigration acoounts
python manage.py migrate
pip install django-iprestrict

