<!doctype html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="write">
    <div id="index-jumbotron" class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <div class="wpb_wrapper">
                <h1 id="trademark">DARKBOT™</h1>
                <h2 id="trademarkline" class="display-4">YOUR EYES INTO THE UNDERGROUND</h2>
                <button class="btn btn-default btn-lg"><strong>PRODUCT DEMO</strong></button>
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <div class="container">
        <h1>WHAT WE DO</h1>
    </div>
</div>
<div class="container mb-4">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <P class="text-muted"><strong>DARKBOT</strong> provides high quality and accurate dark web intel sourcing,
                digital risk monitoring and intelligence operations. Used by Law Enforcement Agencis, although mainly
                our target
                audience are Banks in Pakistan.</P>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <iframe width="560" height="370" src="https://www.youtube.com/embed/9nLWbeWWw3E" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>
<div id="strip-1" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <span class="number">200<sup class="symbol-wrap">M</sup></span>
                <div>Dark Web entries as as indexed Records in our Database</div>
            </div>
            <div class="col-md-3 text-center">
                <span class="number">10<sup class="symbol-wrap">TB</sup></span>
                <div>Data Storage Capacity on our highly reliable Linux-based servers</div>
            </div>
            <div class="col-md-3 text-center">
                <span class="number">350<sup class="symbol-wrap">M</sup></span>
                <div>Whitelisted IP's in our Server Storage</div>
            </div>
            <div class="col-md-3 text-center">
                <span class="number">2<sup class="symbol-wrap">M</sup></span>
                <div>Long Term subscriptions granted to our valuable customers</div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1><strong>Why DARKBOT?</strong></h1>


                <P class="mt-4">Darkbot aggregates valuable enterprise-grade threat intelligence with an investigations platform
                    allowing access to high-quality data sources with attribution. It performs automation in the field
                    of Threat
                    Intelligence by making premium access to indexed Darkweb forums, channels and marketplaces and use
                    the available data on these
                    sources for Threat Intelligence purpose. It provides the complete details and analysis of all
                    possible threats while searching
                    against a user provided query.</P>
            </div>

        </div>
    </div>
</div>

<div id="strip-2" class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="{% static "img/100.png" %}" alt="">
            </div>
            <div class="col-md-3 text-center">
                <img src="{% static "img/0.png" %}" alt="">
            </div>
            <div class="col-md-3 text-center">
                <img src="{% static "img/9.png" %}" alt="">
            </div>
            <div class="col-md-3 text-center">
                <img src="{% static "img/00.png" %}" alt="">
            </div>
        </div>
    </div>
</div>


<div class="text-center">
        <div class="container">
            <div id="services" class="display-4 mt-4">
                Our Services
            </div>
        </div>
</div>
<div class="container myCard">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="card-body">
                        <div class="container">
                            <p class="card-title text-center"><strong class="strong-text">DARK WEB INDEXING</strong></p>
                        </div>
                        <p>Searchable and indexed dark web and OSINT locations belonging to millions of active and
                            historical threat actors.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="card-body">
                        <div class="container">
                            <p class="card-title text-center"><strong class="strong-text">BREACH INTELLIGENCE</strong>
                            </p>
                        </div>
                        <p>Deep sources of unpublished data leaks, along with Deep Analysis on the available data
                            for correct classification of the threats.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container myCard">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="card-body">
                        <div class="container">
                            <p class="card-title text-center"><strong class="strong-text">SECURITY INTELLIGENCE</strong>
                            </p>
                        </div>
                        <p>Advanced vulnerability scanning to find information
                            relevant to protecting an
                            organization from external and inside
                            threats.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-block">
                    <div class="card-body">
                        <div class="container">
                            <p class="card-title text-center"><strong class="strong-text">INVESTIGATIONS</strong></p>
                        </div>
                        <div id="team"></div>
                        <p>Establish a coordinated workflow/workspace to make our clients feel the sense of automated
                            working
                            in the field of cyber threat investigation.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container">
    <div class="text-center">
        <div id="pricing" class="container">
            <div id="onepiece" class="display-4 mb-4 mt-5">
                Our Pricing
            </div>
        <div>
                <div class="container">
                    <!-- Contenedor -->
                    <div class="pricing-wrapper clearfix">
                        <div class="pricing-table">
                            <h3 class="pricing-title">Basic</h3>
                            <div class="price">$60<sup>/ month</sup></div>
                            <!-- Lista de Caracteristicas / Propiedades -->
                            <ul class="table-list">
                                <li>1 GB <span>Disk Space</span></li>
                                <li>No <span>Report Genereation</span></li>
                                <li>No <span>Email Support</span></li>
                                <li>60 <span class="unlimited">Search Queries</span></li>
                                <li>No <span class="unlimited">Backups</span></li>
                                <li>No <span>Live Support</span></li>
                            </ul>
                            <!-- Contratar / Comprar -->
                            <div class="table-buy">
                                <p>$60<sup>/ month</sup></p>
                                <a href="{% url 'accounts:subscribe' %}" class="pricing-action">
                                    Subscribe</a>
                            </div>
                           
                        </div>

                        <div class="pricing-table recommended">
                            <h3 class="pricing-title">Advance</h3>
                            <div class="price">$100<sup>/ month</sup></div>
                            <!-- Lista de Caracteristicas / Propiedades -->
                            <ul class="table-list">
                                <li>30 GB <span>Disk Space</span></li>
                                <li><span>Report Generation</span></li>
                                <li>Email <span>Support</span></li>
                                <li>100 <span class="unlimited">Search Queries</span></li>
                                <li>No <span class="unlimited">Backups</span></li>
                                <li>30 Days <span>Risk Free</span></li>
                            </ul>
                            <!-- Contratar / Comprar -->
                            <div class="table-buy">
                                <p>$100<sup>/ month</sup></p>
                                <a href="{% url 'accounts:subscribe' %}" class="pricing-action">Subscribe</a>
                            </div>
                        </div>

                        <div class="pricing-table">
                            <h3 class="pricing-title">Pro</h3>
                            <div class="price">$200<sup>/ month</sup></div>
                            <!-- Lista de Caracteristicas / Propiedades -->
                            <ul class="table-list">
                                <li>100 GB <span>Disk Space</span></li>
                                <li>Report <span>Generation</span></li>
                                <li>Email <span>Support</span></li>
                                <li>200 <span class="unlimited">Search Queries</span></li>
                                <li>With <span class="unlimited">Backups</span></li>
                                <li>30 <span>Days Risk Free</span></li>
                            </ul>
                            <!-- Contratar / Comprar -->
                            <div class="table-buy">
                                <p>$200<sup>/ month</sup></p>
                                <a href="{% url 'accounts:subscribe' %}" class="pricing-action">Subcribe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</section>
</body>
</html>
{% endblock %}
