<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/apple-icon.png"%}">
  <title>
      Darkbot
  </title>
  <!--     Fonts and icons     -->
  <link rel="icon" href="{% static "img/d2.png" %}">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="{% static "css/nucleo-icons.css" %}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{% static "css/black-dashboard.css" %}" rel="stylesheet" />
  <link href="{% static "css/flag_css/flag-icon.css" %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static "css/dumps_display.css" %}" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link rel="stylesheet" href="{% static "css/search.css" %}"/>
  <link rel="stylesheet" href="{% static "css/load.css" %}"/>
  <link rel="stylesheet" href="{% static "css/mainn.css" %}"/>
  <link rel="stylesheet" href="{% static "css/util.css" %}"/>
  <link rel="stylesheet" href="{% static "css/monitor.css" %}"/>
  <link rel="stylesheet" href="{% static "css/generate-report.css" %}"/>
  <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/README.md"></script>

</head>

<body class="white-content">
<div id="loading">
    <div id="loader">
        <div class="position-center-center">
            <div class="loader-main"></div>
            <div class="logo_loader" id="brandload">DARKBOT</div>
        </div>
    </div>
</div>
<div class="wrapper">

{# including the sidebar #}
{% include 'adminpanel/partials/_sidebar.html' %}
<div class="main-panel">
{# including the navbar #}
{% include 'adminpanel/partials/_navbar.html' %}

<!-- here we are going to iclude the alerts -->
  {% include 'adminpanel/partials/_alerts.html' %}

{# including the content here#}
{% block content %}{% endblock %}
{# including the footer #}
{% include 'adminpanel/partials/_footer.html' %}
</div>
</div>
<!--   Core JS Files   -->
  <script src="{% static 'js/message-hide.js' %}"></script>
  <script src="{% static 'js/core/jquery.min.js' %}"></script>
  <script src="{% static 'js/core/popper.min.js' %}"></script>
  <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Chart JS -->
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'js/black-dashboard.js' %}"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script type="text/javascript" src="{% static "js/dropdown.js" %}"></script>
  <script type="text/javascript" src="{% static "js/dumpDropdown.js" %}"></script>
  <script type="text/javascript" src="{% static "js/livemonitoring.js" %}"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');
          {#var new_color = 'red';#}
          if ($sidebar.length != 0) {
              alert(new_color)
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').addClass('white-content');
        });
      });
    });
  </script>

</body>

</html>