<!DOCTYPE html>
{% extends 'adminpanel/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Edit Profile</h5>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'adminpanel:profile' %}" method="POST">
                                    <div class="row">
                                        {% if not user.is_superuser %}
                                        <div class="col-md-5 pr-md-1">
                                            <div class="form-group">
                                                <label>Company</label>
                                                <input type="text" class="form-control"
                                                       placeholder="Company" value="{{user.company}}">
                                            </div>
                                        </div>

                                        <div class="col-md-3 px-md-1">
                                            <div class="form-group">
                                                <label>IP ADDRESS</label>
                                                <input type="text" class="form-control" placeholder="Username"
                                                       value="{{user.ip_address}}">
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="col-md-4 ml-1">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email address</label>
                                                <input type="email" class="form-control" value="{{user.email}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pr-md-1">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" name='firstname' placeholder="Company"
                                                       value="{{user.first_name}}">
                                            </div>
                                        </div>
                                        <div class="col-md-6 pl-md-1">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" name="lastname" placeholder="Last Name"
                                                       value="{{user.last_name}}">
                                            </div>
                                        </div>
                                    </div>
                                    {% if not user.is_superuser %}
                                    <div class="row">
                                        <div class="col-md-4 pr-md-1">
                                            <div class="form-group">
                                                <label>Subscription Plan</label>
                                                <input type="text" class="form-control" disabled="" placeholder="City" value="{{user.subscription_plan}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 px-md-1">
                                            <div class="form-group">
                                                <label>Status</label>
                                                <input type="text" class="form-control" disabled="" placeholder="Country"
                                                       value="{{user.status}}">
                                            </div>
                                        </div>
                                        <div class="col-md-4 pl-md-1">
                                            <div class="form-group">
                                                <label>Number of queries remaining</label>
                                                <input type="number" class="form-control" disabled="" value="{{user.number_of_queries}}">
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-fill btn-primary">Save Changes</button>
                                    </div>
                                    {% csrf_token %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
